@model AccountsViewModel
@{
    ViewData["Title"] = "Student Login";
}
<form method="post" action="~/Users/LoginProceed">
    <div class="card card-hidden">
        <div class="header text-center">
            <div style="font-family: 'LovelyValentine'; font-size: 35px; color: rgb(248 23 117 / var(--tw-text-opacity)) !important;">
                <img src="~/imgs/valentine_icon.svg" style="height: 100px" /><br />
                Find My Valentine
            </div>
            Student Login
        </div>
        @if (!string.IsNullOrWhiteSpace(Model.StatusMessage))
        {
            <div class="alert-danger alert">
                <p>@Model.StatusMessage</p>
            </div>
        }
        <div class="content">
            <div class="form-group">
                <label>Student No</label>
                <input type="text" name="Username" placeholder="Enter Student Number" class="form-control">
            </div>
            <div class="form-group">
                <label>Password</label>
                <input type="password" name="Password" placeholder="Enter Password" class="form-control">
            </div>
        </div>
        <div class="footer text-center">
            <button type="submit" class="btn btn-fill btn-warning btn-wd" style="width:100%"><i class="fa fa-sign-in-alt"></i> Login</button>
        </div>
    </div>
</form>